.cartel {
    display: flex;
    align-items: center;
    width: 80vw;
    flex-direction: column;
    color: #fff;
    /* background-color: rgb(221, 44, 31); */
    border: #fff solid 0.5px;
    border-radius: 7px;
    padding: 10px;
}

.cartel a {
    font-style: italic;
    text-decoration: underline;
    color: rgb(136, 136, 255) !important;
}

.cartel h2 {
    color: rgb(216, 216, 216);
    text-decoration: underline;
}

.cartel a:hover {
    color: rgb(93, 93, 179) !important;
}

.info p {
    /* display: flex;
    justify-content: center; */
    margin-top: 30px;
}

.espacio-cartel {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 150px;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'ancientmedium';
    src: url('ancient_medium-webfont.woff2') format('woff2'),
         url('ancient_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.lema {
    height: 50px;
    width: auto;
    margin-bottom: 70px;
}

